*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}

ul,li{
  list-style:none;
}

ul{
  overflow:hidden;
  padding: 10px 10px 10px 0;
}

ul li a{
  text-decoration:none;
}

ul li{
  margin:1em 1em 1em 0;
  float:left;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding: 1em;
  word-break: break-all;
  overflow: hidden;
}

input,button {
	padding: 3px;
}