*{
  margin:0;
  padding:0;
}

body{
  font-family:arial,sans-serif;
  font-size:100%;
  margin:3em;
  background:#666;
  color:#fff;
}

ul,li{
  list-style:none;
}

ul{
}

ul li a{
  text-decoration:none;
}

ul li, .draggable {
  margin:1em;
  float:left;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding: 1em;
  overflow: hidden;
  position: relative;
}

ul li .plus{
  position: absolute;
  bottom:0;
  right:0;
  background-image: url('images/plus-icon.png');
  background-size: 100%;
  width: 100px;
  height: 100px;
}

input,button {
	padding: 3px;
}

#container {
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.category {
  background-color: #999;
  margin: 10px;
}

.droppable {
  background: #666;
}

.drop-hover {
  background: #ccc;
}

h1, h2 {
  text-align: center;
  margin: 10px;
}